


/* .body{
    
    font-family: 'Roboto', 'sans-serif';
    width: 1600px;
    height: 1730px;
    
} */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}



.container {
    width: 1200px;
    margin: 0 auto;
}



.lista {
    list-style: none;

}

a {
    text-decoration: none;
    color: #212121; 
}


.header__logo/* logo-tipo */ {
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway';
}

/* position: absolute;
    border: 2px solid #2196F3;
    border-radius: 10px;
    width: 100%;
    left: 0;
    bottom: 0px;
    content: " "; */


.cambio-color:hover,
.icon-contacto:hover
/* .cambio-color:focus  */{
    color:#2196F3;
    /* fill: #2196F3; */
    fill: #2196F3;
    
}
 
.header__link:hover{
    color: #2196F3; 
    
    border-bottom: 4px solid #2196F3;
       /*  width: 5%; */
    content: " "; 
    padding-bottom: 26px;
        /* display: flex; */
           /*  position: absolute; */
    border-radius: 2px;
}

.active {
    color: #2196F3;
    border-bottom: 4px solid #2196F3;
    width: 100%;
    content: "     ";
    padding-bottom: 26px;
    
    border-radius: 2px;
}



.main__title-dedicamos{
    margin: 0 0 55.05px;
    font-size: 36px;
    color: #212121;
    justify-content: center;
    display: flex;
}

.main__dedicamos-img-1 {

    background-image: url('../images/dedicamos1.jpg');
    width: 373.16px;
    height: 323.7px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    object-fit: cover; /* mejora calidad imagen  */
}

.main__list-dedicamos p{
    display: flex;
    background-color: rgba(47, 48, 58, 0.8);
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 27px 79px;
}
.main__dedicamos-img-2{
    background-image: url('../images/dedicamos2.jpg');
    width: 373.16px;
    height: 323.7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    object-fit: cover;
    /* mejora calidad imagen  */

}

.main__dedicamos-img-3{
    background-image: url('../images/dedicamos3.jpg');
    width: 373.16px;
    height: 323.7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    object-fit: cover;
    /* mejora calidad imagen  */

}


.main__equipo-img {
    width: 270px;
    height: 260px;
    border-radius: 0px 0px 4px 4px;
    
    /* border-radius: 30%; */
 /*    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    */
    object-fit: cover;/* mejora calidad imagen  */
}


.main__section-equipo{
    background-color: #F5F4FA;
}

.main__section-equipo h2{
    
    padding: 94px 0 50px;
    font-size: 36px;
    color: #212121;
    text-align: center;
    margin: 0;
   
}



.main__list-equipo{
    display: flex;
    align-items: center;
    /* padding-bottom: 94px; */
    padding: 0  0 94px;
    margin: 0;
    justify-content: space-between;
} 

.main__list-equipo li{
    background-color: #FFFFFF;
    margin-left:37px;
    width: 270px;
   /*  height: 380px; */
    margin: 0;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* .lista-equipo img{
    padding:0;
    
    background-color:#FFFFFF;
    margin-left: 37px;
    height: 380px;
} */

.main__list-equipo h3{
    font-size: 500;
    font-size: 16px;
    text-align: center;
    margin: 30px 76px 10px;
}

.main__list-equipo p{
    color: #757575;
    text-align: center;
    font-size: 400;
    font-weight: 16px;
    margin: 0;
    margin-bottom: 30px;
}






.main__list-dedicamos{
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 0 0 94px;
}


.main__list-inf{
    justify-content: space-between;
   
    /* height: 122px;  */
    display: flex;
    margin: 0 0 105px;
    padding-left: 0;
    /* margin-left: 215px; */ 
   
   /*  margin-right: 215px; */
   /* justify-content: center; */
   /* gap: 30px; */
}

.main__list-inf li   {
    width: 270px;
    display: flex;
    flex-direction: column;    
    /* justify-content: center; */
    margin:0;
    
    
}

.main__list-inf h3{
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 700;  
    text-align: left;
}



.main__list-inf p{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    text-align: left;
    
}


/* section  */

.main__list-icons/* iconos */{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 76px 1px 30px 1px;
}


.main__list-icon{
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    background-color: #F5F4FA;
    border-radius: 4px;
    
}
.main__section-soluciones{
  /*   background-color: #2F303A; */
    background-image: url('../images/icons/Imagen.jpg');
    opacity: 0.9;background-blend-mode: color-burn;
    /* background: url('../images/icons/Imagen.jpg'), lightgray 0px -147.517px / 100% 170.667% no-repeat; */
    position: relative;
}
.main__container {
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main__container h1{
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    color: #FFFFFF;
    width: 710px;
    text-align: center;
}

.main__container  button{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background-color:#2196F3 ;
    /* width: 261px;
    height: 50px; */
    padding: 10px 32px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
}





.footer{
    background-color: #2F303A;
}

.footer__cart{
    display: flex;
    justify-content: flex-start; 

}
.footer__addres{
    display: flex;
    flex-direction: column;

}

.footer-titulo{
    padding: 0;
    /* margin: 60px 215px 9px; */
    width: 145px;
    margin-top: 0px;
    padding-top: 60px;
}

.footer__logo{
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway';
    
}


.footer__list/* addres-info */{
    padding-bottom: 47px;
    width: 238px;
   /*  height: 92px; */
   /*  margin: 0 215px 60px; */
    margin: 0;
    padding: 0 0 47px;


} 
.color-email{
    
    color: #757575;
}
.color{
    color: #FFFFFF;
}





/* PORTAFOLIO  */

.header{    
    border-bottom: 1px solid #EEEEEE;

}


.header__container{

    display: flex;
    justify-content: flex-start;
    align-items: center;
} 


.header__icon/* con-contacto */{
    width: 16px;
    height: 12px;
   /*  text-align:end; */
}

.header__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 25.5px 0 24.5px;  
  
    width: 100%;
    cursor: pointer;
}
.header__nav{
    width: 100%;
}

.header__list-two/* encabezado-portafolio2 */{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin: 24.5px 0 24.5px; 
   /*  padding: 0px 0px 0 200px; */
 /*    position: relative; */
    /* para la imagen celular y gmail */
    width: 100%;
    cursor: pointer;
    gap: 50px;

}
/* .encabezado-portafolio2 a{
    color: #757575;
} */



/* .encabezado-img-correo {

    position: absolute;
    top: 9px;
    left: 203px;
} */
/* .encabezado-img-telefono {
    position: absolute;
    top: 6px;
    left: 450px;
} */



.main__btn-portafolio{ 
    justify-content: center;
    display: flex;
    gap: 9px;
    margin-top: 106px ;
    
}

.main__btn-portafolio button{
    
    background-color: #F5F4FA;
    border: none;
    border-radius: 10px;
    /* height: 38px; */
    /* margin: 0 4px 0; */
    font-weight: 700;
    padding: 6px 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

   
    
}


.main__btn-portafolio button:hover,
.main__btn-portafolio button:focus{
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.main__list-portafolio/* portafolio-listas */{
    list-style: none;
    padding: 0;
    display: flex;
    gap:29px;
    flex-wrap: wrap;
    margin: 34px 0 83px;
    justify-content: space-between;
    /* position: relative; */
    background-color: #FFFFFF;
  
}

.main__list-portafolio li{
    width: 370px;
    position: relative; 
    border: 1px solid #EEEEEE;
  /*   border-radius: 30px; */
  overflow: hidden;
}

.main__list-portafolio li:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}




.main__portafolio-img/* portafolio-img */{
    width: 370px;
   /*  position: relative; */
    padding: 0;
   /*  border-radius: 30px;
     */
}
.main__list-portafolio h3{
    font-weight: 700;
    margin: 20px 24px 11px;
    font-size: 15px;
    /* position: relative; */
}



.main__list-portafolio  a{
    margin-left: 24px;
    padding: 0;
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    
}

.main__list-portafolio div{
    cursor: pointer;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    
    
}

.footer__list-redes svg,
.main__list-redes svg,
.footer__list-two/* redes-sociales */ svg{
    /* margin: 12px; */
    padding: 12px;
        
}

.main__list-redes li,
.footer__list-two/* redes-sociales */ li/* :nth-child(n+2) */ {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    box-shadow:none
   

}

.title-redes-sociales {
    /* position: absolute;
    left: 621px;
    top: 74px;
    */
    padding: 75px 0 4px 60px;
    margin: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    
}


.main__list-redes li:hover,
.main__list-redes li:focus,
.footer__list-two/* redes-sociales */ li:hover,
.footer__list-two/* redes-sociales */ li:focus
{
    background-color: #2196F3;
    fill: #EEEEEE;
}

.footer__list-two/* redes-sociales  */svg:hover,
.main__list-redes svg:hover{
    fill: #EEEEEE;
}
.main__list-redes{
    display: flex;
    padding: 0;
    margin: 16px 32px 30px;
    fill: #AFB1B8;
}

.footer__list-two/* redes-sociales */ {

    display: flex;
    justify-content: center;
    padding-left: 60px;
    fill: #AFB1B8;
}

/* trasnform  */

.main__list-portafolio li:hover .transformar {

    transform: translateY(-100%);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    line-height: 28px;
    letter-spacing: 0.54px;
    top: 0;
    padding: 65px 23px;

}
.main_cart-transformar{
    
   
    position: absolute; 
    color:white;
    height: 90px;

}



.main__list-portafolio li:hover .trasnform-p{
   
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}



.main__cart-title-portafolio {
    position: relative;
    background-color: #FFFFFF;
}


/* clietes regulares */
.section-clientes{
    background-color: #FFFFFF ;
}
.section-clientes div{
    display: flex;
    flex-direction: column;
    margin-bottom: 151px;

}

.section-clientes div h3{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 59px 42px;

}

.section-clientes div ul{

    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.section-clientes div li{
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    width: 170px;
    height: 81px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.section-clientes div svg{
   /*  margin: 14px 57px; */
    padding:14px 50px;
    fill: #AFB1B8;
    
}

/* .encabezado-portafolio2 li a:hover .icon-contacto */

.section-clientes div li:hover,
.section-clientes div svg:hover{
   
    fill: #2196F3;
   border-color: #2196F3;
}
/* .section-clientes div svg,
.section-clientes div use,
.section-clientes div li:hover{

   
    fill: #2196F3;
    border-color: #2196F3;
    

} */


/* modal */

.modal__data{
    
    top: auto;
    position: absolute;
    opacity: 0; 
  
   /*  color: rebeccapurple; */
}

.modal{
    
    /* flex-direction: row-reverse;
    display: flex;
    align-items: flex-start;
    position: absolute; */
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 528px;
    height: 615px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    opacity: 1;
}

.close{

    position: absolute;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
   
    align-items: center;
    border-radius: 50%;
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.modal__data svg:hover{
    fill: #2196F3;
}
.modal__data button:hover  {

    
    border: 1px solid rgba(33, 150, 243, 1);
    
}


.modal__data svg{
    cursor: pointer;
    
    height: 100%;  
    padding: 6px;
    
}

.modal2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
   /*  width: 528px;
    height: 581px; */
    background-color: rgba(0, 0, 0, 0.2);

    transition: cubic-bezier(0.4, 0, 0.2, 1);

}

/* para quitar el negro de los bordes del imput  " outline: none " */

.modal__form{
    padding: 40px;
    width: 100%;
}
.modal__form h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.modal__form label{
    padding: 10px 0px 4px;
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.modal__form div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__form input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 448px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    display: block;
    padding-left: 40px;
    cursor: pointer;
 
}

.modal__form input:focus,
.modal__form input:hover {
    border: 1px solid #2196F3;  
}

.modal__form input:focus + .svg-form,
.modal__form input:hover + .svg-form{
    fill: #2196F3;
}

.svg-form{
    position: absolute;
    top: 15px;
    left: 0;
    width: 36px;
    height: 100%;
       
}

#input-comentarios{
    display: flex;
    border: 1px solid rgba(33, 33, 33, 0.2);
  
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;
    height: 120px;
}

.modal__form-checkbox/* .checkbox-form */{
    position: relative;
    cursor: pointer;
}

.modal__form-checkbox/* checkbox-form */ input{

   /*  width: 16px;
    height: 15px;
    position: absolute;
     */

    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 0px !important;
    width: 0px !important;
    overflow: hidden;
    
}

.modal-form-checkbox-label::before{
    /* margin-left:36.38px;
    padding: 20px 0 3px; */

    content: '';
    display: flex;
    width: 16px;
    height: 15px;
    border: 1px solid #212121; 
    border-radius: 2px;
    cursor: pointer;
    
    /* margin-bottom: 20px; */
    position: relative;
    margin: 3px 9px 0px 13px;
    padding: 0;
    padding: 6px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before{

    /* background-image: url('../images/icons/Imagen.jpg'); */
    background-image: url('../images/cono-revisado.svg');   
    /* content:url('../images/cono-revisado.svg');   */
    border-color: #2196f3;
    background-color: #2196f3;  
    margin: 0;
    padding: 0;
    display: flex;
    margin: 3px 9px 0px 13px;
    padding: 6px;
    
}

.modal-form-checkbox-label{
    
    display: flex;
    /* margin-right: 9px; */
    /* align-items: center; */
    /* font-family: var(--main-font); */
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 15px 9px 0px 9px;
    padding: 0;

    
}



.modal__btn--enviar{

    align-items: center;
}

.modal__btn--enviar button:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.modal__btn--enviar button{
    background-color: #2196F3;
    color: white;
    font-size: 16px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#input-comentarios:focus,
#input-comentarios:hover{
    border: 1px solid #2196F3;
}

/* suscribete  */


.footer__form/* suscribete */{
    
    display: flex;
    flex-direction: column;
}

.footer__form label{
    margin-bottom: 20px;
    margin-left: 93px;

     padding: 75px 0 0 0px; 
        /* margin: 0; */
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
}

.footer__btn--suscribete/* suscribete-buton */{
    display: flex;
    position: relative;
    margin-left: 93px
}

.footer__btn--suscribete/* suscribete-buton */ input{
    width: 358px;
    height: 50px;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(33, 150, 243, 0);
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin-right: 12px;
    cursor: pointer;
}

.footer__btn--suscribete/* suscribete-buton */ button{

    width: 200px;
    height: 50px;
    padding-left: 29px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: left;
    
}
.footer__btn--suscribete/* suscribete-buton */ svg{

    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    right: 28px;
    
}